<nav class="navbar" *ngIf="authService.isLoggedIn && !isMafiaRoute">
  <div class="nav-links">
    <a routerLink="/metrics-app/home" routerLinkActive="active">Home</a>
    <a routerLink="/metrics-app/weight" routerLinkActive="active">Weight Tracking</a>
    <a routerLink="/metrics-app/habits" routerLinkActive="active">Habits</a>
    <a routerLink="/metrics-app/challenges" routerLinkActive="active">Challenges</a>
  </div>
  <button class="logout-btn" (click)="logout()">Logout</button>
</nav>
<nav class="navbar" *ngIf="!authService.isLoggedIn && !isMafiaRoute">
  <a routerLink="/metrics-app/login" routerLinkActive="active">Login</a>
</nav>
<router-outlet></router-outlet>
